!!!
%html
  %head
    %title TokenMgt
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :app_head
    = csrf_meta_tags
  %body
    = yield :content